<div class="spotify">
  <h4>Spotify</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: allowSpotify"> embed Spotify player</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: spotifyReplace"> replace link with track title and length</label>
  </div>
</div>

<div class="twitch">
  <h4>Twitch</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: allowTwitch"> embed Twitch videos</label>
  </div>
</div>

<div class="youtube">
  <h4>YouTube</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: allowYoutube"> embed YouTube videos</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: youtubeReplace"> replace link with video title and length</label>
  </div>
</div>