<div class="images">
  <h4>images</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: enableImagePreview"> enable preview for images</label>
  </div>
</div>

<div class="imgur">
  <h4>Imgur</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: enableImgurPreview"> enable preview for Imgur images</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: replaceImgurLink"> replace Imgur links with image/album title</label>
  </div>
</div>

<div class="spotify">
  <h4>Spotify</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: enableSpotifyEmbed"> embed Spotify player</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: replaceSpotifyLink"> replace link with track title and length</label>
  </div>
</div>

<div class="twitch">
  <h4>Twitch</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: enableTwitchEmbed"> embed Twitch videos</label>
  </div>
</div>

<div class="youtube">
  <h4>YouTube</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: enableYoutubePreview"> enable preview for YouTube videos</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: enableYoutubeEmbed"> embed YouTube videos</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: replaceYoutubeLink"> replace link with video title and length</label>
  </div>
</div>
