<div class="images">
  <h4>images</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: allowImages"> enable preview for images</label>
  </div>
  <h4>Imgur</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: allowImgur"> enable preview for Imgur images</label>
    <label><input type="checkbox" data-bind="checked: imgurReplace"> replace Imgur links with image/album title</label>
  </div>
  <h4>YouTube</h4>
  <div class="checkbox">
    <label><input type="checkbox" data-bind="checked: allowYoutube"> enable preview for YouTube videos</label>
  </div>
</div>